/* ----- Nav Boutique -----*/
.nav-boutique {
  background: linear-gradient(
    to bottom right,
    rgb(0, 0, 0) 25%,
    rgb(58, 58, 58),
    rgb(0, 0, 0) 75%
  );
  position: fixed;
  top: 6%;
  left: 0;
  display: block;
  width: 27%;
  height: 100%;
  color: white;
  border-right: 2px ridge rgb(5, 5, 5);
}
h1 {
  text-align: center;
  margin-top: 5%;
}
.position-nav-boutique {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  width: 100%;
  text-align: center;
}
.position-nav-boutique li {
  margin-top: 40px;
}

.position-nav-boutique li a {
  display: block;
  text-decoration: none;
  text-shadow: 2px 2px black;
  color: white;
  padding: 14px 16px;
}

.position-nav-boutique li a:hover {
  background-color: rgba(0, 0, 0, 0.335);
  color: white;
}
/* ----- Fin Nav Boutique -----*/
/* ----- Boutique ----- */

/* ----- Fin Boutique ----- */
.position-boutique {
  position: absolute;
  top: 8%;
  left: 30%;
}

div.img {
  position: relative;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 375px;
  height: 600px;
  background-color: rgb(56, 56, 56);
  color: white;
}

div.img:hover {
  border: 1px solid #777;
}

div.img img {
  width: 100%;
  height: 400px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.description-jeu {
  color: white;
  text-align: center;
}

.position-button {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

div.img .button-boutique-left {
  border: 2px solid rgba(22, 22, 22, 0.685);
  border-radius: 4px;
  font-weight: bold;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: block;
  float: left;
  font-size: 20px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  cursor: pointer;
}

div.img .button-boutique-right {
  border: 2px solid rgba(22, 22, 22, 0.685);
  border-radius: 4px;
  font-weight: bold;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: block;
  float: right;
  font-size: 20px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  cursor: pointer;
}

div.img .button-boutique-left,
div.img .button-boutique-right {
  background-color: rgb(56, 56, 56);
  color: white;
}

div.img .button-boutique-left:hover,
div.img .button-boutique-right:hover {
  border: unset;
  background-color: #ffffff;
  color: black;
}

.button-admin {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button-admin .button-modifier-item,
.button-admin .button-supp-item {
  list-style-type: none;
  text-decoration: none;
  border: unset;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(5, 5, 5);
  padding: 2px 7px;
}

.button-admin .button-modifier-item:hover,
.button-admin .button-supp-item:hover {
  background-color: rgb(56, 56, 56);
  color: #ffffff;
}

form.form-ajout {
  position: absolute;
  top: 10%;
  left: 30%;
}
