/*-----FORUM-----*/

.forum-container {
  background-color: rgb(153, 151, 151);
  padding: 0.1px;
  text-align: center;
}

.form {
  padding-right: 0.1px;

}

.comment-container {
  background-color: rgb(119, 116, 116);
  margin: 15px;
  border-width: 1px 3px 3px 1px;
  border-color: #7e535a;
  border-style: solid;
  border-radius: 6px;
  text-align: center;
}