/*-----FORUM-----*/

.forum-container {
  background-color: rgb(153, 151, 151);
  min-height: 800px; /*nécessaire quand la page est trop courte lors de la confirmation du post*/
  padding: 80px 0;
  text-align: center;
}

.comment-container {
  background-color: rgb(119, 116, 116);
  margin: 15px;
  border-width: 1px 3px 3px 1px;
  border-color: #7e535a;
  border-style: solid;
  border-radius: 6px;
  text-align: center;
}