body {
  background-color: white;
}

form {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url(../fonds_ecrans/acceuil/Fond_ecran_history.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 160px;
  left: 0;
  display: block;
  min-width: 375px;
  height: 500px;
  color: white;
  margin-bottom: 300px;
}

@media screen and (min-width: 800px) {
  form {
    position: relative;
    top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 2px solid rgba(240, 33, 33, 0.75);
  }
}

form h1,
form h2 {
  text-align: center;
  text-shadow: 2px 2px black;
}

form input[type="text"],
form input[type="password"],
form input[type="mail"] {
  text-align: center;
  display: block;
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="mail"]:focus {
  background-color: black;
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

div h5 {
  position: relative;
  left: 0;
  display: block;
  float: left;
  width: 40%;
  text-align: center;
}
div input {
  display: block;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.position-button-inscription {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  text-align: center;
}

.position-button-inscription li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
}

.position-button-inscription li a:hover {
  background-color: #111;
  color: white;
}

.position a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 10px;
  bottom: 0;
  color: white;
}

.position a:hover {
  background-color: rgba(46, 46, 46, 0.493);
}
