@font-face {
  src: url(../polices/Mulish-VariableFont_wght.ttf);
  font-family: Muli;
}
#page_profil {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: url('../photos\ en\ tt\ genre/gens_foret.jpg') 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  padding-top: 70px;
}
#mcontainer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 95vw;
  height: 90vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 1fr 15fr;
}
nav {
  grid-column: 1/2;
  padding: 150px 60px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
nav ul li {
  list-style: none;
  padding: 30px 0;
}
nav ul li:hover {
  color: rgb(204, 204, 218);
  cursor: pointer;
}
nav ul li img {
  width: 2vw;
  transition: 0.5s ease;
  border: 1px solid white;
}
ul li.active img {
  transform: scale(1.5);
  transform: translate(80%, 0);
}
.content_div {
  display: none;
  grid-column: 3/4;
}
#infos.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 100px 0;
}
#infos fieldset {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 40%;
}
#infos fieldset div {
  display: flex;
  flex-direction: column;
  width: 33%;
}
input {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: lighter;
  font-size: 16px;
  padding: 5px 0 5px 5px;
  border-radius: 5px;
  color: #fff;
}
input:hover {
  cursor: pointer;
}
input:focus {
  outline: none;
  cursor: text;
}
label {
  font-size: 14px;
  padding-left: 10px;
  text-transform: capitalize;
  font-style: italic;
  color: rgb(204, 192, 192);
}
.error_msg {
  text-transform: none;
  align-self: flex-end;
  padding-right: 10px;
  color: crimson;
  opacity: 0;
}
#infos h6 {
  align-self: flex-start;
}
