header {
  background-color: #000000;
}

body {
  padding: 0;
  margin: 0;
  background-color: #8d8484;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.back-color-black {
  background-color: black;
}
.back-color-white {
  background-color: white;
}
.back-image {
  background-image: url(LOGO-FF/crystzls.jpg);
  background-position: center center;
  background-size: cover;
}

/*----------------------------------------HISTORY-----------------------------------------------*/
.title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8em;
  font-weight: bold;
  /* border-bottom: 1px black solid; */
}

.divider {
  width: 450px;
  height: 2px;
  background: #333;
  margin: auto;
}

.clear {
  clear: both;
}

.history-text {
  padding: 20px;
  width: 40%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.history-block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.history-pic {
  border: 10px;
  padding: 0;
}

.history-block img {
  border: 5px #8d041b solid;
  width: 100%;
}

/*block pour redimensionner les images*/
.history-block .history-pic-top {
  width: 45%;
  float: left;
}

.history-block .history-pic-mid {
  float: left;
  width: 45%;
}

.history-block .history-pic-mid img{
  height: 350px;
}

.history-block .history-pic-low {
  width: 45%;
  float: left;
}
/*block pour redimensionner les images*/

.history-block.topblock {
  margin-top: 100px;
}
.history-block .floatleft {
  float: left;
}
.history-block .floatright {
  float: right;
}

/* HISTORY RESPONSIVE */
/* @media all and (max-width: 1300px) {
  .divider {
    width: 450px;
    height: 2px;
    background: #333;
    margin-left: 36%;
  }

  .history-block .history-pic-mid {
    width: 40%;
    float: left;
  }

  .history-block .history-pic-low {
    width: 52%;
    float: left;
  }

  .history-text {
    padding: 20px;
    width: 40%;
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
} */

@media all and (max-width: 1200px) {
  .divider {
    width: 200px;
    height: 2px;
    background: #333;
    margin-left: 24%;
  }

  .history-block .history-text {
    width: 55%;
    margin: 40px auto 0 auto;
    font-style: italic;
    font-weight: bold;
    float: none;
  }
  
  .history-block .history-pic-top {
    width: 45%;
    margin: 0 auto;
    float: none;
  }
  
  .history-block {
    width: 90%;
    margin-top: 180px;
    /* position: absolute; */
    /* margin-left: 19%; */
  }
  
  .history-block .history-pic-mid {
    width: 55%;
    margin: 0 auto;
    float: none;
  }

  .history-block .history-pic-low {
    width: 55%;
    margin: 0 auto;
    float: none;
  }

  .history-block.topblock {
    margin-top: 100px;
  }
  /* .history-block .floatleft {
    float: left;
  }
  .history-block .floatright {
    float: right;
  }
<<<<<<< HEAD
}
/****** HISTORY *****/
=======
} */
/* HISTORY RESPONSIVE(fin) */  
/*----------------------------------------HISTORY(fin)-----------------------------------------------*/
>>>>>>> ba83b12e38d0154c02ffe6d4be1c48aa2c22118c

/****** PAGE ACCEUIL (zak) ******/
@font-face {
  src: url(FinalFantasy-aa4m.ttf);
  font-family: final;
}

.conteneur {
  width: 100%;
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: final;
  -webkit-user-select: none;
  /* background-image: url("fonds_ecrans/acceuil/pattern3.png");
  background-size: contain; */
}

img {
  border: 5px black solid;
}
#one {
  width: 100%;
}
.box {
  width: 90%;
}

.box img {
  width: 100%;
}
.text1 {
  width: 100%;
  position: relative;
  margin-top: -37%;
  margin-bottom: 40%;
}
.text1 h1,
.text1 p {
  text-align: center;
  text-transform: uppercase;
}
.text1 h1 {
  font-size: 7vw;
  text-decoration: underline 0.3vw;
  font-weight: 900;
  transform: scaleY(1.9);
  transform-origin: 0 0;
  word-spacing: 4px;
  letter-spacing: -3px;
}
.text1 p {
  padding-top: 2.5%;
  font-size: 2.5vw;
  font-weight: 900;
  transform: scaleY(1.8);
  transform-origin: 0 0;
  letter-spacing: -1px;
  word-spacing: 10px;
}
@media (max-width: 800px) {
  .text1 p {
    padding-top: 2.5%;
    font-size: 2.5vw;
    font-weight: 900;
    transform: scaleY(1.8);
    transform-origin: 0 0;
    letter-spacing: 1px;
  }
}
#two {
  margin-top: -10%;
  margin-bottom: -15%;
}
#two:hover {
  transform: scale(1.1);

  transition: all 0.5s;
}
#three:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.text2 {
  width: 100%;
  position: relative;
  margin-top: -25%;
  margin-bottom: 30%;
  margin-left: 5%;
  padding-right: 60%;
}
.text2 h1 {
  font-size: 3vw;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
}
.text2 p {
  font-size: 2vw;
  color: white;
}
.text2 p span {
  background-color: rgba(0, 0, 0, 1);
}
.text2 h1 span {
  text-transform: uppercase;
  font-weight: 900;
}
.text3 {
  width: 100%;
  position: relative;
  margin-top: -40%;
  margin-bottom: 30%;
  margin-left: 3%;
  padding-right: 75%;
}
.text3 h1 {
  font-size: 5vw;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.text3 p {
  font-size: 2vw;
  color: white;
}
.text3 p span {
  background-color: rgba(0, 0, 0, 1);
}
/****** PAGE ACCEUIL ******/
<<<<<<< HEAD
=======




/*--------------------------------------------JEUX---------------------------------------------------*/
/* JEUX PAGINATION */
.pagination {}
.page-item {
  margin-top: 100%;
  width: 100%;
}

.page-link {
   background-color: #000000;
   border: 1px #8d041b solid;
   color: #f7f7df;
   text-align: center;
}

 /* JEUX RESPONSIVE */
 @media all and (max-width: 390px) {
   .pagination {
      padding-top: 100%;
      display: flex;
      justify-content: center;
      
  }

   .page-item {
     width: 20px; 
  }

  .pagination {
    margin-top: 100%;
    display: flex;
    justify-content: center; 
  }

   .page-link {
     background-color: #000000;
     border:#000 solid;
     color:  #f10c33;
     font-size: xx-small;
     font-weight: 1;
     display: flex;
     justify-content: space-evenly;
     text-decoration: underline;
  } 
 /* JEUX RESPONSIVE(fin) */
/* JEUX PAGINATION(fin) */
/*--------------------------------------------JEUX(fin)---------------------------------------------------*/
>>>>>>> ba83b12e38d0154c02ffe6d4be1c48aa2c22118c
