header {
  background-color: #000000;
  display: inline;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.back-color-black {
  background-color: black;
}
.back-color-white {
  background-color: white;
}
.back-image {
  background-image: url(LOGO-FF/crystzls.jpg);
  background-position: center center;
  background-size: cover;
}
.position-nav-boutique {
  position: absolute;
}

/* nav */
*{
  margin: 0;
  padding: 0;
}
.header_navbar{
  position: fixed;
  top:0;
  width: 100%;
  height: 60px;
  background-color:#000;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  z-index: 1000;
  justify-content: space-between;
  
  
}
.header_navbar a{
  text-decoration: none;  
}
.header_navbar .logo {
  /* line-height: 60px; */
  margin-left: 3vw;
  align-self: center;
}
.header_navbar .logo img{
  opacity: 0.8;
}
.header_navbar .logo img:hover{
  opacity: 1;
}

.header_navbar .nav_gauche {
  line-height: 60px;
  flex-basis: 60%;
}
.header_navbar .nav_droite {
  line-height: 60px;

}
.header_navbar .nav_gauche ul{
  display: flex;
  list-style: none;
  justify-content: flex-start;
}
.header_navbar .nav_gauche ul li{
  text-transform: uppercase;
  text-decoration: none;
  
}
.header_navbar .nav_gauche ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 50px;
  opacity: 0.7;
}


.header_navbar .nav_gauche ul li a:hover{
  opacity: 1;
}
.header_navbar .nav_droite ul{
  display: flex;
  list-style: none;
}
.header_navbar .nav_droite ul li{
  padding: 0 10px;
  opacity: 0.6;
} 
.header_navbar .nav_droite ul li:hover{
 opacity: 1;
} 
/*menu mobile*/

.nav_sidebar{
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 0;
  height: calc(100vh - 60px); /* taille complete du site moins taille de la nav */
  background-color: #000;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.btn_toggle_nav{
  display: none;
  width: 60px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-image: url(./icones/menu_nav_blanc.jpg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  cursor: pointer;
  opacity: 0.8;
}
.btn_toggle_nav:hover{
  opacity: 1;
}
.nav_sidebar ul{
  padding-top: 15px;
  overflow: hidden; /*coupe ce qui dépasse du container*/
  z-index: 1000;
 
}
.nav_sidebar ul li{
  line-height: 60px;
  list-style: none;
  z-index: 1000;
}
.nav_sidebar ul li a{
 display: block;
 height: 60px;
 padding: 0 10px;
 text-decoration: none;
 text-transform: uppercase;
 color: #fff;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 white-space: nowrap; /*empeche le texte d'aller à la ligne s'il manque la place*/
 opacity: 0.3;
 transition: all 0.3s ease-in-out;
 z-index: 1000;
}

.nav_sidebar ul li a:hover{
 background-color: rgb(8, 8, 8);
 opacity: 0.8;
}

#header_navbar > nav.nav_sidebar > ul > li:nth-child(7) > input[type=text]{
  padding: 10px 10px; 
  line-height: 20px;
  width: 65%;
}

@media only screen and (max-width: 920px) {
  .nav_gauche, .nav_droite {
    display: none;
  }
  .nav_sidebar{
    display: block;
    right: 0;
  }
  .btn_toggle_nav{
    display: block;
  }
  .nav_sidebar ul li a{
    font-size: 12px;
   }
}

/* fin nav */


/*----------------------------------------HISTORY-----------------------------------------------*/
.mainBlock {
  background-color: #8d8484;
  margin: -2.7%;
}

.title {
  width: 50%;
  margin: 5% auto;
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8em;
  font-weight: bold;
  /* border-bottom: 1px black solid; */
}

.divider {
  width: 450px;
  height: 2px;
  background: #333;
  margin: auto;
}

.clear {
  clear: both;
}

.history-text {
  padding: 20px;
  width: 40%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.history-block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.history-pic {
  border: 10px;
  padding: 0;
}

.history-block img {
  border-width: 1px 3px 3px 1px;
  border-color: #7e535a;
  border-style: solid;
  width: 100%;
}

/*block pour redimensionner les images*/
.history-block .history-pic-top {
  width: 45%;
  float: left;
}

.history-block .history-pic-mid {
  float: left;
  width: 45%;
}

.history-block .history-pic-mid img {
  height: 350px;
}

.history-block .history-pic-low {
  width: 45%;
  float: left;
}
/*block pour redimensionner les images*/

.history-block.topblock {
  margin-top: 100px;
}
.history-block .floatleft {
  float: left;
}
.history-block .floatright {
  float: right;
}

/* HISTORY RESPONSIVE */
/* @media all and (max-width: 1300px) {
  .divider {
    width: 450px;
    height: 2px;
    background: #333;
    margin-left: 36%;
  }

  .history-block .history-pic-mid {
    width: 40%;
    float: left;
  }

  .history-block .history-pic-low {
    width: 52%;
    float: left;
  }

  .history-text {
    padding: 20px;
    width: 40%;
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
} */

@media all and (max-width: 1200px) {
  .mainBlock {
    background-color: #8d8484;
    margin: -15%;
  }

  .title {
    width: 50%;
    margin: 15% auto;
    text-align: center;
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8em;
    font-weight: bold;
    /* border-bottom: 1px black solid; */
  }

  .divider {
    width: 200px;
    height: 2px;
    background: #333;
    margin-left: 24%;
  }

  .history-block .history-text {
    width: 55%;
    margin: 40px auto 0 auto;
    font-style: italic;
    font-weight: bold;
    float: none;
  }

  .history-block .history-pic-top {
    width: 45%;
    margin: 0 auto;
    float: none;
  }

  .history-block {
    width: 90%;
    margin-top: 180px;
    /* position: absolute; */
    /* margin-left: 19%; */
  }

  .history-block .history-pic-mid {
    width: 55%;
    margin: 0 auto;
    float: none;
  }

  .history-block .history-pic-low {
    width: 55%;
    margin: 0 auto;
    float: none;
  }

  .history-block.topblock {
    margin-top: 100px;
  }
}
/* .history-block .floatleft {
    float: left;
  }
  .history-block .floatright {
    float: right;
  }
} */
/* HISTORY RESPONSIVE(fin) */
/*----------------------------------------HISTORY(fin)-----------------------------------------------*/
/****** PAGE ACCEUIL (zak) ******/
@font-face {
  src: url(FinalFantasy-aa4m.ttf);
  font-family: final;
}

.conteneur {
  width: 100%;
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: final;
  -webkit-user-select: none;
  /* background-image: url("fonds_ecrans/acceuil/pattern3.png");
  background-size: contain; */
}

img {
  border: 5px black solid;
}
#one {
  width: 100%;
}
.box {
  width: 90%;
}

.box img {
  width: 100%;
}
.text1 {
  width: 100%;
  position: relative;
  margin-top: -37%;
  margin-bottom: 40%;
}
.text1 h1,
.text1 p {
  text-align: center;
  text-transform: uppercase;
}
.text1 h1 {
  font-size: 7vw;
  text-decoration: underline 0.3vw;
  font-weight: 900;
  transform: scaleY(1.9);
  transform-origin: 0 0;
  word-spacing: 4px;
  letter-spacing: -3px;
}
.text1 p {
  padding-top: 2.5%;
  font-size: 2.5vw;
  font-weight: 900;
  transform: scaleY(1.8);
  transform-origin: 0 0;
  letter-spacing: -1px;
  word-spacing: 10px;
}
@media (max-width: 800px) {
  .text1 p {
    padding-top: 2.5%;
    font-size: 2.5vw;
    font-weight: 900;
    transform: scaleY(1.8);
    transform-origin: 0 0;
    letter-spacing: 1px;
  }
}
#two {
  margin-top: -10%;
  margin-bottom: -15%;
}
#two:hover {
  transform: scale(1.1);

  transition: all 0.5s;
}
#three:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.text2 {
  width: 100%;
  position: relative;
  margin-top: -25%;
  margin-bottom: 30%;
  margin-left: 5%;
  padding-right: 60%;
}
.text2 h1 {
  font-size: 3vw;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
}
.text2 p {
  font-size: 2vw;
  color: white;
}
.text2 p span {
  background-color: rgba(0, 0, 0, 1);
}
.text2 h1 span {
  text-transform: uppercase;
  font-weight: 900;
}
.text3 {
  width: 100%;
  position: relative;
  margin-top: -40%;
  margin-bottom: 30%;
  margin-left: 3%;
  padding-right: 75%;
}
.text3 h1 {
  font-size: 5vw;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.text3 p {
  font-size: 2vw;
  color: white;
}
.text3 p span {
  background-color: rgba(0, 0, 0, 1);
}
/****** PAGE ACCEUIL ******/

/*--------------------------------------------JEUX---------------------------------------------------*/
/* JEUX PAGINATION */
.pagination {
}
.page-item {
  margin-top: 100%;
  width: 100%;
}

.page-link {
  background-color: #000000;
  border: 1px #8d041b solid;
  color: #f7f7df;
  text-align: center;
}

/* JEUX RESPONSIVE */
@media all and (max-width: 390px) {
  .pagination {
    padding-top: 100%;
    display: flex;
    justify-content: center;
  }
}

.page-item {
  width: 20px;
}

.pagination {
  margin-top: 100%;
  display: flex;
  justify-content: center;
}

.page-link {
  background-color: #000000;
  border: #000 solid;
  color: #f10c33;
  font-size: xx-small;
  font-weight: 1;
  display: flex;
  justify-content: space-evenly;
  text-decoration: underline;
}
/* JEUX RESPONSIVE(fin) */
/* JEUX PAGINATION(fin) */
/*--------------------------------------------JEUX(fin)---------------------------------------------------*/


/*--------------------------------------------FORUM---------------------------------------------------*/
#forum-title {
    width: 50%;
    margin: 5% auto;
    text-align: center;
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8em;
    font-weight: bold;
    /* border-bottom: 1px black solid; */
}

.center-buttons {
  margin: auto 45%;
}
/*--------------------------------------------FORUM(fin)---------------------------------------------------*/