body {
    padding: 0;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
}

.titren4 {

    margin: 150px auto 0 auto;
    width: 300px;
    font-size: 2em ;
    text-align: center;
    border: 1px solid black;

}
  
.boxn4 {
    color: rgb(255, 255, 255);                  /*change la couleur des textes*/
}

.boxn4 div 
{
    width: 100%;
    text-align: center;
    font-size: 2em;
    /* border: #ffffff solid 1px; */
}

.boxn4 div a
{
    color: #ffffff;
    text-decoration: none;
}

.blockn4 {
    border-radius: 10px;
    border: none;
    margin: 4% auto 5% auto;
    width: 550px;
    height: 5em;
    display: flex;
    justify-content: center;                    /* aligne au centre horizontalement*/
    align-items: center;                        /* aligne au centre verticalement*/
}

@media(max-width: 768px)
{
    .blockn4 {
        border-radius: 10px;
        border: none;
        margin: 7% auto 9% auto;
        width: 400px;
        height: 5em;
        display: flex;
        justify-content: center;                    /* aligne au centre horizontalement*/
        align-items: center;                        /* aligne au centre verticalement*/
    }

    .titren4 {

        margin: 120px auto 0 auto;
        width: 300px;
        font-size: 2em ;
        text-align: center;
        border: 1px solid black;
    
    }
}

@media(max-width: 425px)
{
    .blockn4 {
        border-radius: 10px;
        border: none;
        margin: 7% auto 9% auto;
        width: 350px;
        height: 60px;
        display: flex;
        justify-content: center;                    /* aligne au centre horizontalement*/
        align-items: center;                        /* aligne au centre verticalement*/
    }

    .titren4 {

        margin: 120px auto 0 auto;
        width: 250px;
        font-size: 1.5em ;
        text-align: center;
        border: 1px solid black;
    
    }
}

.block1n4 {
    background:  #0773FF;
    /* box-shadow: 0 0 10px #1eecff, 0 0 10px #0773FF, 0 0 20px #0773FF ; */
}


.block2n4 {
    background: #FF7A00;
}

.block3n4 {
    background: #FF0000;
}